body {
    background-image: url("../img/kens_Bground.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    background-color: #D5D2D2;
}
h1 {
  font-family: 'Pacifico', 'Tangerine';
  font-weight: bold;
  color: #fff;
  text-align: center;
}
p {
  font-family: monospace, serif;
  color: #fff;
  shape-inside: auto;
  font-size: .85em;
}

.row {
  margin-top: 25px;
}


#video_info {
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 15px;
  background: rgba(0,0,0,.3);
  margin-bottom: 30px;

}
#icon_info p {
  color: #000;
  font-style: bold;
  text-align:inherit;
  padding: 10px 5px 5px 10px;
  padding-top: 110px;
}
#icon_info {
  border-style: solid;
  border-width: 5px;
  border-color: rgba(#000,.5);
  background-color: #fff;
  margin-top: -100px;
}
#icon_pic {
  border-style: solid;
  border-color: rgba(#000,.5);
  border-width: 5px;
  border-radius: 100%;
}
#signature{
  text-align: center;
}
#text_box {
  border-style: solid;
  border-radius: 15px;
  padding: 10px 5px 0px 10px ;
  border-color: #fff;
  border-width: 2px;
  background-color: rgba(0,0,0,.4)
}
#bt {
  text-align: left;
  align-self: baseline;
  position: relative;
  font-weight: bold;
  margin-left: -75px;
  margin-top: 10px;
}
#red {
  border-style: solid;
  border-width: 1px;
  color: red;
}
#green {
  border-style: solid;
  border-width: 1px;
  color: green;
}
#blue {
  border-style: solid;
  border-width: 1px;
  color: blue;
}
#yellow {
  border-style: solid;
  border-width: 1px;
  color: yellow;
}
